@model StudentPicMVC.Models.VM.StudentDeleteVM

@* Web Title *@
@{
    ViewBag.Title = "Delete Student-";
}

<form asp-action="DeleteStudent">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Student Info</h1>
        <hr />

        <input hidden asp-for="Student.Id" />
        <div class="row">
            <div class="col-10">
                <div class="row">

                    <div class="col-2">
                        <label asp-for="Student.Name" class="control-label pt-2" style="font-size:15px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Student.Name" disabled class="form-control" />
                    </div>

                    @* Student Age *@
                    <div class="col-2">
                        <label asp-for="Student.Age" class="control-label pt-2" style="font-size:15px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Student.Age" disabled class="form-control" />
                    </div>

                    @* Student Class *@
                    <div class="col-2">
                        <label asp-for="Student.Class" class="control-label pt-2" style="font-size:15px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Student.Class" disabled class="form-control" />
                    </div>

                    @* Student Portrait *@
                    <div class="col-2">
                        <label asp-for="Student.ImageB64" class="control-label pt-2" style="font-size:15px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <textarea asp-for="Student.ImageB64" disabled class="form-control" rows="2" id="b64String"></textarea>                        
                    </div>

                    @* Back Button *@
                    <div class="col-5 offset-2">
                        <a asp-action="IndexStudent" asp-controller="Student" class="btn-primary btn form-control">Back to the list</a>
                    </div>

                    @* Delete Button *@
                    <div class="col-5 ">
                        <input type="submit" value="Delete" class="btn btn-success form-control" />
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img id="imagePreview" src="" alt="Preview Image" width="170px" height="256px" style="padding-top:4px;" />
            </div>
        </div>        
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @* show current image from model *@
    <script>
        const studentImage = document.getElementById('imagePreview');
        const imageB64 = document.getElementById('b64String');
        studentImage.src = imageB64.value;
    </script>
}
