@{
    ViewData["Title"] = "Home Page";
}

<div class="introduceTheme">
    <h1>WELCOME TO K-INFO</h1>
    <p>BEST PLATFORM TO STORE AND SECURE YOUR DATA</p>
</div>

@* import css *@
<link rel="stylesheet" href="~/css/home/home.css" type="text/css" />